*{
    color: whitesmoke;
    font-family: 'Courier New', Courier, monospace;
    font-weight: bolder;
    text-align: center;
    text-transform: uppercase;
    font-size: 40px;
}
body{
    background-color: lightblue;
}
section{
    display: flex;
    flex-direction: column;
    gap: 20px;
    align-items: center;
}
.cubo{
    width: 200px;
    height: 200px;
    background-color: brown;
    border: 3px solid darkred;
    transition:transform 3s;
}
.uno:hover{
    transform: translate(-50px,-100px);
    background-color: yellow;
}

.dos:active{
    transform:scale(0.5,2);
}

.tres:hover{
    transform: rotate(-360deg);
}

.cuatro:active{
    transform: skew(20deg);
}